//* header 
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  display: flex;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  flex-grow:1;
  flex-direction: row;
}
.notification-icon {
  font-size: 30px;
  color: black;
  padding: 0 1rem;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.notification-continer {
  wdth: 100%;
  margin: 0.5rem;
}

.notification-summary {
 &__container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   flex-direction: column;
   border-bottom: 1px solid  lightgray;
 }

 &__content:first-child {
    width: inherit;
    border-top: 3px solid gray;
    border-bottom: 1px solid lightgray ;
    padding: 1rem;
}

 &__time {
  text-align: left;
 }

 &__items {
   list-style: none;
   padding: 0;
 }

 &__item {
   font-size: 1.4rem;
   padding: 2.5rem;

   .total-messages {
     color: blue;
     padding: 2rem;
     font-size: 20px;
     right: 1rem;
   }
 }
 &__myworkspace {
   text-align: center;
   font-size: 1rem;
   color: blue;
   margin: 0.5rem;
 }
}

i.close {
  display: inline-block;
  transform: rotate(134deg) translateY(8px);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: grey;
  padding: 10px;
  float: right;

  &:hover {
      color: #000;
  }
}

.view-task {
  display: inline;
  padding: 0.5rem;
  color: blue;
}

.message-bar{
  display: flex;
  flex-direction: column;
  padding: 10px;
  &__content {
    border-bottom: 1px solid lightgray;
    text-align: left;
    padding: 1px;
  }

  &__time {
    font-weight: bold;
  }
}
